@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap');

.celender{
  
  color: gray;
  width: 860px;
  height: 550px;
  border-radius: 15px;
  margin: 0 auto;
  border-radius: 0 10px 10px 0;
  top: 20%;
  left: 30%;
  z-index: 99999;
  position: absolute;
  
}
.dates{


  width: 500px;
  height:550px;
  background-color:white;
  position: relative;
  border-radius: 10px 0 0 10px;

}
.time{
  width: 378px;
  display: block;
  margin: 0px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  
}
.week ul{
float: left;
font-size: small;
}
.span{
  float: left;
  font-size: 40px;
}

.time h2{
  float: left;
  margin: 0px;
  padding: 0px;
  font-size: 17px;
  font-weight: 600;
}
.week{

  margin: 0px auto;
  font-size: 20px;
  display: block;
  width: 380px;
  height: 40px;
  
  margin-left: -7px;
  border-bottom: 4px solid linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  
}

.week ul{
  list-style: none;
  margin: 0px ;
  padding: 0px ;
 



}
.week li{
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0px 4px;

 
 
}
.day{
  margin: 0px auto;
  display: inline-block;
  
  

}

.day ul{
  margin: 0px auto;
  list-style: none;
  padding: 0px;
  width: 355px;
 
}
.day li{
  float: left;
  width: 50px;
  height: 50px;
  list-style: none;
  margin-top: 4px;
  
 
}
.day li:hover {
background:rgb(223, 7, 72);
color: white;
border-radius:50%;

box-sizing: border-box;
transform: scale(0.9);
text-align: center;
margin-left: -20px;
margin-top: -10px;
/*we use margin here to control the background position 
and use the padding to controll number posion inside this circle background*/
cursor: pointer;
overflow: hidden;
padding: 10px 5px;
}

.week hr{
  
      height: 5px;
      width: 100%;
      
      background-image: linear-gradient(to right, rgb(7, 188, 188),rgb(12, 97, 97),rgb(247, 224, 224),rgb(7, 188, 188),rgb(12, 97, 97),white,rgb(7, 188, 188));
  
}
.current-date{

  width: 370px;
  display: block;
  margin: 0px auto;
  clear: both;
  font-size: 40px;
  font-weight: 400;
  padding-top: 50px;
  

}
.event{
position: absolute;
top: 0%;
left: 100%;
opacity: .9;
border: 40px solid white;
  color: white;
  overflow: hidden;
  height: 470px;
  width: 360px;
  border-radius: 0px 15px 15px 0px;
  
  background-image: linear-gradient(to right, #07BCBC , rgb(247, 224, 224));
}
.notee input{
 position: absolute;
width:360px ;
height: 464px;
font-family: 'Caveat', cursive;
text-align: center;
font-size: 30px;
background-image:linear-gradient(to right, rgb(7, 188, 188) , rgb(247, 224, 224));
}

.bg-celender {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  position: fixed;
  top: 0;
  left:0;
  display: none;
  font-family: 'Caveat', cursive;
  z-index: 99999999;
  justify-content: center;
  align-items: center;
  
}



.close2 {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  z-index: 99999999;
  transform: rotate(45deg);
  cursor: pointer;}
  .close:hover {
      color: #666;
  }


:root {
        font-size: 16px;
        font-family: 'Open Sans';
        --text-primary: #b6b6b6;
        --text-secondary: #ececec;
        --bg-primary: #23232e;
        --bg-secondary: #141418;
        --transition-speed: 600ms;
      }


    .ss-body{

        color: rgba(5, 5, 5, 0.753);
        background-color: white;
        margin: 0;
        padding: 0;
      }

      
 body::-webkit-scrollbar {
    width: .3%;
  }
  
   body::-webkit-scrollbar-track {
    background: rgb(236, 236, 238);
   
  }
  
   body::-webkit-scrollbar-thumb {
    background:#07BCBC;
  }

  
  .ss-navs{
      
      transition: width 200ms ease;
      position: fixed;
      background-color: rgb(85, 84, 84,0.9);
     
  }
  .ss-navs:hover{
    background-color: black;
  }
  .ss-navs-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  
  .ss-navs-item {
    width: 100%;
  }
  
  .ss-navs-item:last-child {
    margin-top: auto;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: rgb(137, 219, 219);
  }
  
  .fa-secondary {
    color: #07BCBC;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .ss-logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .ss-logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .ss-logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  .ss-navs:hover .ss-logo svg {
    transform: rotate(-180deg);
  }

  /* Small screens */
@media only screen and (max-width: 600px) {
    .ss-navs {
      bottom: 0;
      width: 100vw;
      height: 5rem;
      z-index: 9999;
    }
  
    .ss-logo {
      display: none;
    }
  
    .ss-navs-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
   
  }
  /* Large screens */
@media only screen and (min-width: 600px) {
    .ss-navs {
      top: 0;
      width: 5rem;
      height: 100vh;
      z-index: 9999;
    }
  
    .ss-navs:hover {
      width: 15rem;
    }
  
    .ss-navs:hover .link-text {
      display: inline;
    }
  
    .ss-navs:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .ss-navs:hover .logo-text
    {
      left: 0px;
    }
  }
  /* Large screens */
/* 
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  } */