header{
    background-image: url(../img/header5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: rgb(170, 120, 45);
    background-attachment: fixed;
}

nav{
    /* background-color: rgba(0, 0, 0, 0.603);
    box-shadow: 0px 12px 48px 2px black; */
}

button{
    box-shadow: 1px 2px 3px -1px black;
    background-color:transparent;
    background-color: #b7bbc705;
    border-radius:28px;
    border: 0;
	display:inline-block;
	cursor:pointer;
    color: #00b7b3;
	font-family:Courier New;
	font-size:19px;
	font-weight:bold;
	padding:14px 34px;
	text-decoration:none;
}

.myButton:hover {
    background-color:transparent;
    background-color: rgb(0,183,179);
    color: white;
    transition: all 0.3s ease-in-out 0s;
}
.myButton:active {
	position:relative;
	top:1px;
}
li{
    display: inline-block;
    margin: 3% 2%;
    font-size: 150%;
}


ul{
    margin-left: 68%;
    padding-top: 2%;
}

#aboutus{
    height: 80vh;
    text-align: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url(../img/header1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h2{
    font-size: 421%;
    padding-bottom: 5%;
    padding-top: 3%;
    color: white;
}

p{
    margin: 0 auto;
    width: 70%;
    color: white;
    font-size: 150%;
    line-height: 136%;
}

.breaker{
    height: 15vh;
    background-color: #242626;
    ;
    
}

.text{
    background-color: #00000036;
    height: 75vh;
    padding-top: 3%;
}

#services{
    height: 200vh;
    background-color: #242626;
}

.container{
    text-align: center;
    color: white;
}

.col1{
    width: 50%;
    float: left;
    height: 89vh;

}

.col2{
    width: 48%;
    margin-top: 1.5%;
    margin-right: 2%;
    float: right;
    height: 89vh;
    background-color: #ffffff08;
    border-radius: 10% 50% 10% 50%;
    height: 59vh;
    box-shadow: 0px 0px 80px 20px black;

}

.col3{

    width: 48%;
    margin-top: 1.5%;
    margin-left: 1.3%;
    float: left;
    height: 89vh;
    background-color: #ffffff08;
    border-radius: 10% 50% 10% 50%;
    height: 59vh;
    box-shadow: 0px 0px 80px 20px black;
    clear: left;
}

.col4{
    
    width: 50%;
    float: right;
    height: 89vh;
    margin-right: 0.5%;

}

.coltext{
    padding-top: 12%;
}


img{
    width: 93%;
    display: inline-block;
    border: 3px inset black;
    box-shadow: 0px 0px 80px 20px black;
    border-radius: 50% 10% 50% 10%;
}

.mySlides .mySlides2 {
  display: none;
}

.nextprev{
    position: relative;
    padding-left: 8%;
    padding-bottom: 1%;
}

.prev, .next {
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 128%;
    transition: 0.6s ease;
    user-select: none;
    margin-left: 4%;
    margin-right: 4%;
}

.prev:hover, .next:hover {
  color: #00b7b3;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

