header{
    overflow-x: hidden;
    background-image: url(../img/header5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: rgb(170, 120, 45);
    background-attachment: fixed;
}

nav{
    /* background-color: rgba(0, 0, 0, 0.603);
    box-shadow: 0px 12px 48px 2px black; */
}

button{
    box-shadow: 1px 2px 3px -1px black;
    background-color:transparent;
    background-color: #b7bbc705;
    border-radius:28px;
    border: 0;
	display:inline-block;
	cursor:pointer;
    color: #00b7b3;
	font-family:Courier New;
	font-size:19px;
	font-weight:bold;
	padding:14px 34px;
    text-decoration:none;
    transition: all 0.8s ease;

}

.myButton:hover {
    background-color:transparent;
    background-color: rgb(0,183,179);
    color: white;
    transform: scale(1.1);
}
.myButton:active {
	position:relative;
	top:1px;
}
li{
    display: inline-block;
    margin: 3% 2%;
    font-size: 150%;
}


ul{
    margin-left: 68%;
    padding-top: 2%;
}


#aboutus{
    height: 80vh;
    text-align: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url(../img/header1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h2{
    font-size: 421%;
    padding-bottom: 5%;
    padding-top: 3%;
    color: white;
}

p{
    margin: 0 auto;
    width: 70%;
    color: white;
    font-size: 150%;
    line-height: 136%;
}

.breaker{
    height: 15vh;
    background-color: #242626;
    ;
    
}

.text{
    background-color: #00000036;
    height: 75vh;
    padding-top: 3%;
}

#services{
    height: 200vh;
    background-color: #242626;
}

.container{
    text-align: center;
    color: white;
}

.col1{
    width: 50%;
    float: left;
    height: 89vh;

}

.col2{
    width: 48%;
    margin-top: 1.5%;
    margin-right: 2%;
    float: right;
    height: 89vh;
    background-color: #ffffff08;
    border-radius: 10% 50% 10% 50%;
    height: 59vh;
    box-shadow: 0px 0px 80px 20px black;

}

.col3{

    width: 48%;
    margin-top: 1.5%;
    margin-left: 1.3%;
    float: left;
    height: 89vh;
    background-color: #ffffff08;
    border-radius: 10% 50% 10% 50%;
    height: 59vh;
    box-shadow: 0px 0px 80px 20px black;
    clear: left;
}

.col4{
    
    width: 50%;
    float: right;
    height: 89vh;
    margin-right: 0.5%;

}

.coltext{
    padding-top: 12%;
}


img{
    width: 93%;
    display: inline-block;
    border: 3px inset black;
    box-shadow: 0px 0px 80px 20px black;
    border-radius: 50% 10% 50% 10%;
    transition: 0.5s ease;
}

img:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    cursor: pointer;
}

.mySlides .mySlides2 {
  display: none;
}

.nextprev{
    position: relative;
    padding-left: 8%;
    padding-bottom: 1%;
}

.prev, .next {
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 128%;
    transition: 0.6s ease;
    user-select: none;
    margin-left: 4%;
    margin-right: 4%;
}

.prev:hover, .next:hover {
  color: #00b7b3;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

#hikealong{
    background: teal;
    background: url(../img/header2.jpg);
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.route{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: 'image' 'text' 'stats';
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    border-radius: 18px;
    background: #ffffffeb;
    box-shadow: 5px 5px 15px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 100px;
}

.route-text p, .route-text h2{
    color: black;
    font-size: small;
}

.route-image{
    grid-area: image;
    background: url(../img/best2.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-position: center;
    background-size: cover;

}

.route-text{
    grid-area: text;
    margin: 8.5%;
}

.route-text .period{
    color: rgb(255,7,110);
    font-size: 13px;
}

.route-text p{
    color: gray;
    font-size: 15px;
    font-weight: 300;
    width: 100%;
}

.route-text h2{
    margin-top: 0px;
    font-size: 28px;
}


.route-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(255,7,110);
}

.route-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.route-stats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.route-stats .value{
    font-size: 22px;
    font-weight: 500;
}

.route-stats .border{
    border-left: 1px solid rgb(172,26,87);
    border-right: 1px solid rgb(172,26,87);
}

.route-stats .value sup{
    font-size: 12px;
}

.route:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

h3{
    width: 30%;
    font-size: xx-large;
    color: black;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

span{
    color: #00b7b3;
    font-weight: bold;
}

h4{
    width: 20%;
    font-size: large;
    color: #00b7b3;
    font-weight: 300;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    padding-top: 1%;
}

.fadetext{
    opacity: 0;
    animation: fadetext 26s linear infinite;
    animation-delay: 2s;
}

.fadeqoute{
    opacity: 0;
    animation: fadetext 26s linear infinite;
    animation-delay: 2.5s;
}

@keyframes fadetext{
    0%{
        opacity: 0;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 3%;
    }

    11.5%{
        opacity: .8;
        padding-left: 6%;
    }

    17.2%{
        opacity: 0;
        padding-left: 9%;
    }
    100%{
        opacity: 0;
        padding-left: 11%;
    }
}


.fadetext2{
    opacity: 0;
    animation: fadetext2 26s linear infinite;
    animation-delay: 8s;
    padding-left: 70%;
    width: 33%;
}

.fadeqoute2{
    opacity: 0;
    animation: fadeqoute2 26s linear infinite;
    animation-delay: 8.5s;
    padding-left: 70%;
}

@keyframes fadetext2{
    0%{
        opacity: 0;
        padding-left: 55%;
        padding-top: 11%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 60%;
        padding-top: 11%;

    }

    11.5%{
        opacity: .8;
        padding-left: 65%;
        padding-top: 11%;

    }

    17.2%{
        opacity: 0;
        padding-left: 70%;
        padding-top: 11%;

    }
    100%{
        opacity: 0;
        padding-left: 75%;
        padding-top: 11%;
    }
}
@keyframes fadeqoute2{
    0%{
        opacity: 0;
        padding-left: 55%;
        padding-top: 1%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 60%;
        padding-top: 1%;

    }

    11.5%{
        opacity: .8;
        padding-left: 65%;
        padding-top: 1%;

    }

    17.2%{
        opacity: 0;
        padding-left: 70%;
        padding-top: 1%;

    }
    100%{
        opacity: 0;
        padding-left: 75%;
        padding-top: 1%;
    }
}

.fadetext3{
    opacity: 0;
    animation: fadetext3 26s linear infinite;
    animation-delay: 14s;
    padding-left: 4%;
    width: 33%;
}

.fadeqoute3{
    opacity: 0;
    animation: fadeqoute3 26s linear infinite;
    animation-delay: 14.5s;
    padding-left: 4%;
}

@keyframes fadetext3{
    0%{
        opacity: 0;
        padding-left: 4%;
        padding-top: 1%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 6%;
        padding-top: 1%;

    }

    11.5%{
        opacity: .8;
        padding-left: 8%;
        padding-top: 1%;

    }

    17.2%{
        opacity: 0;
        padding-left: 9%;
        padding-top: 1%;

    }
    100%{
        opacity: 0;
        padding-left: 9%;
        padding-top: 1%;
    }
}
@keyframes fadeqoute3{
    0%{
        opacity: 0;
        padding-left: 4%;
        padding-top: 1%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 6%;
        padding-top: 1%;

    }

    11.5%{
        opacity: .8;
        padding-left: 8%;
        padding-top: 1%;

    }

    17.2%{
        opacity: 0;
        padding-left: 9%;
        padding-top: 1%;

    }
    100%{
        opacity: 0;
        padding-left: 9%;
        padding-top: 1%;
    }
}

.fadetext4{
    opacity: 0;
    animation: fadetext4 26s linear infinite;
    animation-delay: 20s;
    padding-left: 47%;
    width: 33%;
}

.fadeqoute4{
    opacity: 0;
    animation: fadeqoute4 26s linear infinite;
    animation-delay: 20.5s;
    padding-left: 49%;
}

@keyframes fadetext4{
    0%{
        opacity: 0;
        padding-left: 47%;
        padding-top: 1%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 53%;
        padding-top: 1%;

    }

    11.5%{
        opacity: .8;
        padding-left: 59%;
        padding-top: 1%;

    }

    17.2%{
        opacity: 0;
        padding-left: 65%;
        padding-top: 1%;

    }
    100%{
        opacity: 0;
        padding-left: 65%;
        padding-top: 1%;
    }
}
@keyframes fadeqoute4{
    0%{
        opacity: 0;
        padding-left: 48%;
        padding-top: 1%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 54%;
        padding-top: 1%;

    }

    11.5%{
        opacity: .8;
        padding-left: 60%;
        padding-top: 1%;

    }

    17.2%{
        opacity: 0;
        padding-left: 66%;
        padding-top: 1%;

    }
    100%{
        opacity: 0;
        padding-left: 66%;
        padding-top: 1%;
    }
}
/**********************************************************-----------------------------
--------------------------------------------------
--------------------------THE CSS FOR SOCIAL ICON----------------------------------
------------------------------------------------------------
--------------------------------------------------------------*/
.social1{
    background-color: rgb(214,214,214);
    display:flex;
    align-content: center;
    justify-content: center;
    min-height: 100hv;
}
.btn{
    position: relative;
    height: 70px;
    width: 70px;
    margin: 20px;
    background:rgb(214,214,214);
    border-radius: 50%;
    box-shadow: -9px -9px 20px 0 rgb(255,255,255,0.9),
    7px 7px 20px 0 rgba(0, 0, 0, 0.3);


}

.btn::before{
content: "";
position: absolute;
height: 80%;
width: 80%;
background:rgb(214,214,214);
border-radius: 50%;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
transition: 0.2s;

}
.btn:hover::before{
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 1),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
}
.btn:hover i {
    font-size: 30px;
  }
.btn:hover{
    transform: scale(1.1);
}
.btn i {
    position: absolute;
    color: #07BCBC;
    font-size: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
  }

  /**********************************************************-----------------------------
--------------------------------------------------
--------------------------THE END of CSS FOR SOCIAL ICON----------------------------------
------------------------------------------------------------
------------NOW THE LOGIN PAGE--------------------------------------------------*/





 .bg-modal {
	background-color: rgba(0, 0, 0, 0.0);
	width: 100%;
    height: 700px;
	position: absolute;
    top: 0%;
    z-index: 9999;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 300px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

/* input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
} */

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;}
	.close:hover {
		color: #666;
	}

    @import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
#body{
    margin: o;
    padding: 0;
    background-color:white;
    position: relative;
    background-size: cover;
    height: 10000px;
}
#btn1{
    position: absolute;
    top: 106%;
    width: 330px;
    height: 50px;
    margin-left: -270px;
   border-radius: 100px;
    background-color:#07BCBC;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}
#btn1:hover{
    padding-top: 10px;
    box-shadow: 0px 0px 18px #07BCBC;

}


#logpage h1{

    font-family: 'Anton', sans-serif;

    color: black;
    float: left;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
   font-size: 50px;
    border-bottom: 6px solid #07BCBC;
    margin-bottom: 0px;
    padding: 10px 0;
}

 

.box{

    width: 100%;
    float: left;
    font-size: 15px;
    padding: 8px 0;
    margin: 8px 0;
    
}
.box img{
    width: 20px;
    
}


.mylogo img{
    border: none;
    box-shadow: none;
    position: absolute;
    right: 103%;
    top: 84%;
}
.mylogo1 img{
    border: none;
    box-shadow: none;
   
    position: absolute;
    right: 103%;
    top: 55%;
   

}
#logpage input{
    border: none ;
    border-bottom: 2px solid gray;
    background: none;
    outline: none;
    color: black;
    font-size: 15px;
    line-height: 40px;
    width: 300px;
    margin: 10px 30px 0 0;
    
    
}

#logpage input:active ,#logpage input:focus{
    border-bottom:4px solid  #07BCBC;
 
}


#logpage input:active{
    background: none;
    border: none;
}

.position{
    border-radius: 100px;
    width: 1000px;
    height: 600px;
   
background-color: white;

    position: absolute;
    top: 8%;
    left: 17%;
    
    border-radius: 1px;
    
   overflow: hidden;
 

}
.myImages img{
    position: absolute;
    border: none;
    box-shadow: none;
    border-radius: none;
    width: 400px;
 top: 20%;
  margin-left: 20px;
    z-index: 999;
}
#logpage{
   
    position: absolute;
    top: 1%;
    left: 60%;
    margin: 10% auto 0;
 
}

.input-box:active{
    background: none;
  
   border-bottom:4px solid  #07BCBC ;

}

#wave{
    background: url("https://cdn.pixabay.com/photo/2014/04/02/16/20/wave-306988_640.png");
        width: 800px;
        height: 1000px;
    background-size: 1000px;
        background-repeat: no-repeat;
        filter: hue-rotate(.8);
        margin-top:67px;
        margin-left: -390px;
        transform: rotate(-5deg);
        z-index: -999;
        

       
        
} 
/*pop section */

/*pop section */
.bg-modal1 {
	background-color: rgba(0, 0, 0, 0.0);
	width: 100%;
    height: 700px;
	position: absolute;
    top: 0%;
    z-index: 9999;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 300px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

/* input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
} */




.close1 {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;}
	.close:hover {
		color: #666;
	}
    .postion1{
        border-radius: 100px;
        width: 1000px;
        height: 700px;
       
    background-color: white;
    
        position: absolute;
        top: 1%;
        left: 17%;
        
        border-radius: 1px;
        
       overflow: hidden;
     
    
    }
   

.myImages1 img{
    position: absolute;
    border: none;
    box-shadow: none;
    width: 500px;
 top: 30%;
  margin-left: -10px;
    z-index: 999;
}


#wave1{
    background: url("https://cdn.pixabay.com/photo/2014/04/02/16/20/wave-306988_640.png");
        width: 800px;
        height: 1000px;
    background-size: 1000px;
        background-repeat: no-repeat;
        filter: hue-rotate(.8);
        margin-top:224px;
        margin-left: -388px;
        transform: rotate(-2deg);
        z-index: -999;
        

       
        
}
/*
.pag1e2{
    width: 200px;
    height: 300px;
    background-color: teal;
}*/
/* end css position---------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------
---------------------------------------------------------*/


.passw1{
    margin-left: -170px;
    margin-bottom: 10px;
    cursor: pointer;
}



.check.aa input {
    cursor: pointer;
}
.selectdate{
    cursor: pointer;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    margin: 2px;
}

.gender1 input{
    color: black;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    
    
 }

.gender1{
    margin-left: -40px;
}


.sign-in1 {
    width: 490px;
   height: 1000px;
   
    padding:20px;
   opacity: .9;
    text-align: center;
   
    margin: 9% auto 0;
    z-index: 999;
    position: absolute;
    top: -15%;
    left: 40%;
    
   
}
/*.hiNew{
color: black;
font-weight: 800;
width: 500px;
height: 200px;
background-color: rgb(223, 231, 238);
position: absolute;
top: 1%;
border-radius: 30px;
opacity: .6;
left: 63%;
}
*/
.sign-in1 h2{

    font-family: 'Anton', sans-serif;


    color:black;
    float: left;
    font-weight: bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
   font-size: 40px;
    border-bottom: 6px solid #07BCBC;
    margin-bottom:20px;
    margin-left: 100px;
    margin-top: -10px;
    padding: 10px 0;


}

.findMore1{
    text-align: left;
    font-size: 15px;
    word-spacing: 2px;
    width: 80%;
    line-height: 20px;
    
    margin-top: 10px ;
    margin-left: 100px;
    
}
.findMore1 a{
    color: blue;
    font-weight: 800;
    text-decoration: underline;
   
}

.input-box1{
    border-radius: 20px;
    padding: 10px;
    margin: 10px  0;
    width: 90%;
    outline: none;
    border: 1px snow #999;
    margin-bottom: 10px;
    

}

.postion1 button{
    color: #fff;
border-radius: 20px;
padding: 10px;
max-width: 10px 0;
width: 60%;
outline: none;
border: 1px solid;
font-size: 15px;
cursor: pointer;


}



.signUp-btn1{
    background-color: #07BCBC;


}
.signUp-btn1:hover{
    border: none;
    box-shadow: 0px 0px 18px  rgb(27, 179, 179) ;
}

.signface-btn1{
    background-color:rgb(32, 143, 143);
    
}
.signface-btn1:hover{
    box-shadow: 0px 0px 18px #07BCBC;
    
}


 a{
    text-decoration: none;
    font: outline;
    font-style: bold;
    color: white;
    
}
.sign-in1 p a{
    text-decoration: underline;
}

/*unviseted-link*/
.sign-in1 p a:link{
color: rgb(58, 9, 41);
}
/*viseted-link*/
.sign-in1 p a:visited{
    color: rgb(54, 9, 54);
}
/*mouse over link*/
.sign-in1 p a:hover{
    color: rgb(204, 9, 9);
    
}
/*click the link*/
.sign-in1 p a:active{
    color: rgb(11, 116, 28);
}
hr{
margin-top: 20px;
width: 70%;

}
.or1{
    margin: -24px auto 10px;
    width: 30px;
    font-size: 18px;
    background-color: #fff;
    color: black;
}

.field{
    width: 300px;
   margin-left: 90px;
    border-radius: 30px;
    background-color: white;
    
}

/*-----------------------------
---------------------------------
---------strat the navbar section-------------
---------------------------
--------------------------------*/
