header{
    background-image: url('img/head1.jpg');
    height: 100vh;
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
    /* background-attachment: fixed; */
}

button{
    box-shadow: 1px 2px 3px -1px black;
    background-color:transparent;
    background-color: #b7bbc705;
    border-radius:28px;
    border: 0;
    outline: 0;
	display:inline-block;
	cursor:pointer;
    color: #00b7b3;
	font-family:Courier New;
	font-size:19px;
	font-weight:bold;
	padding:14px 34px;
    text-decoration:none;
    transition: all 0.8s ease;

}

.myButton:hover {
    background-color:transparent;
    background-color: rgb(0,183,179);
    color: white;
    transform: scale(1.1);
}
.myButton:active {
	position:relative;
	top:1px;
}
li{
    display: inline-block;
    margin: 3% 2%;
    font-size: 150%;
}


ul{
    margin-left: 78%;
    padding-top: 2%;
}


.bg-celender h2{
    font-size: 421%;
    padding-bottom: 5%;
    padding-top: 3%;
    color: white;
}



header h3{
    width: 30%;
    font-size: xx-large;
    color: black;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    box-sizing: content-box;
}

header span{
    color: #00b7b3;
    font-weight: bold;
    box-sizing: content-box;

}

header h4{
    width: 10%;
    font-size: large;
    color: #00b7b3;
    font-weight: 300;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    padding-top: 1%;
    box-sizing: content-box;

}

.fadetext{
    opacity: 0;
    animation: fadetext 26s linear infinite;
    animation-delay: 2s;
}

.fadeqoute{
    opacity: 0;
    animation: fadetext 26s linear infinite;
    animation-delay: 2.5s;
}

@keyframes fadetext{
    0%{
        opacity: 0;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 3%;
    }

    11.5%{
        opacity: .8;
        padding-left: 6%;
    }

    17.2%{
        opacity: 0;
        padding-left: 9%;
    }
    100%{
        opacity: 0;
        padding-left: 11%;
    }
}


.fadetext2{
    opacity: 0;
    animation: fadetext2 26s linear infinite;
    animation-delay: 8s;
    padding-left: 70%;
    width: 33%;
}

.fadeqoute2{
    opacity: 0;
    animation: fadeqoute2 26s linear infinite;
    animation-delay: 8.5s;
    padding-left: 70%;
}

@keyframes fadetext2{
    0%{
        opacity: 0;
        padding-left: 55%;
        padding-top: 11%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 60%;
        padding-top: 11%;

    }

    11.5%{
        opacity: .8;
        padding-left: 65%;
        padding-top: 11%;

    }

    17.2%{
        opacity: 0;
        padding-left: 70%;
        padding-top: 11%;

    }
    100%{
        opacity: 0;
        padding-left: 75%;
        padding-top: 11%;
    }
}
@keyframes fadeqoute2{
    0%{
        opacity: 0;
        padding-left: 55%;
        padding-top: 1%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 60%;
        padding-top: 1%;

    }

    11.5%{
        opacity: .8;
        padding-left: 65%;
        padding-top: 1%;

    }

    17.2%{
        opacity: 0;
        padding-left: 70%;
        padding-top: 1%;

    }
    100%{
        opacity: 0;
        padding-left: 75%;
        padding-top: 1%;
    }
}

.fadetext3{
    opacity: 0;
    animation: fadetext3 26s linear infinite;
    animation-delay: 14s;
    padding-left: 4%;
    width: 33%;
}

.fadeqoute3{
    opacity: 0;
    animation: fadeqoute3 26s linear infinite;
    animation-delay: 14.5s;
    padding-left: 4%;
}

@keyframes fadetext3{
    0%{
        opacity: 0;
        padding-left: 4%;
        padding-top: 1%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 6%;
        padding-top: 1%;

    }

    11.5%{
        opacity: .8;
        padding-left: 8%;
        padding-top: 1%;

    }

    17.2%{
        opacity: 0;
        padding-left: 9%;
        padding-top: 1%;

    }
    100%{
        opacity: 0;
        padding-left: 9%;
        padding-top: 1%;
    }
}
@keyframes fadeqoute3{
    0%{
        opacity: 0;
        padding-left: 4%;
        padding-top: 1%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 6%;
        padding-top: 1%;

    }

    11.5%{
        opacity: .8;
        padding-left: 8%;
        padding-top: 1%;

    }

    17.2%{
        opacity: 0;
        padding-left: 9%;
        padding-top: 1%;

    }
    100%{
        opacity: 0;
        padding-left: 9%;
        padding-top: 1%;
    }
}

.fadetext4{
    opacity: 0;
    animation: fadetext4 26s linear infinite;
    animation-delay: 20s;
    padding-left: 47%;
    width: 33%;
}

.fadeqoute4{
    opacity: 0;
    animation: fadeqoute4 26s linear infinite;
    animation-delay: 20.5s;
    padding-left: 49%;
}

@keyframes fadetext4{
    0%{
        opacity: 0;
        padding-left: 47%;
        padding-top: 1%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 53%;
        padding-top: 1%;

    }

    11.5%{
        opacity: .8;
        padding-left: 59%;
        padding-top: 1%;

    }

    17.2%{
        opacity: 0;
        padding-left: 65%;
        padding-top: 1%;

    }
    100%{
        opacity: 0;
        padding-left: 65%;
        padding-top: 1%;
    }
}
@keyframes fadeqoute4{
    0%{
        opacity: 0;
        padding-left: 48%;
        padding-top: 1%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 54%;
        padding-top: 1%;

    }

    11.5%{
        opacity: .8;
        padding-left: 60%;
        padding-top: 1%;

    }

    17.2%{
        opacity: 0;
        padding-left: 66%;
        padding-top: 1%;

    }
    100%{
        opacity: 0;
        padding-left: 66%;
        padding-top: 1%;
    }
}
/**********************************************************-----------------------------
--------------------------------------------------
--------------------------THE CSS FOR SOCIAL ICON----------------------------------
------------------------------------------------------------
--------------------------------------------------------------*/
.social1{
    background-color: rgb(214,214,214);
    display:flex;
    align-content: center;
    justify-content: center;
    min-height: 100hv;
}
.btn{
    position: relative;
    height: 70px;
    width: 70px;
    margin: 20px;
    background:rgb(214,214,214);
    border-radius: 50%;
    box-shadow: -9px -9px 20px 0 rgb(255,255,255,0.9),
    7px 7px 20px 0 rgba(0, 0, 0, 0.3);


}

.btn::before{
content: "";
position: absolute;
height: 80%;
width: 80%;
background:rgb(214,214,214);
border-radius: 50%;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
transition: 0.2s;

}
.btn:hover::before{
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 1),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
}
.btn:hover i {
    font-size: 30px;
  }
.btn:hover{
    transform: scale(1.1);
}
.btn i {
    position: absolute;
    color: #07BCBC;
    font-size: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
  }

  /**********************************************************-----------------------------
--------------------------------------------------
--------------------------THE END of CSS FOR SOCIAL ICON----------------------------------****************/

main {
    background-color: #100e17;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    height: 100vh;
  }
  
  .container {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
  }
  
  .card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }


