html{
    scroll-behavior: smooth;
    outline: 0;
    background-color: black;
}

header{
    overflow-x: hidden;
    background-image: url(img/head11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

main{
    padding-top: 5%;
}

#gridDiv{
    display: grid;
    display: none;
    grid-template-columns: 40% 40%;
    grid-template-areas: 'form render';
    justify-content: space-evenly;
    align-items: center;
    background-image: url(img/head6.jpg);
    height: 130vh;
}
#gridDiv2{
    display: grid;
    display: none;
    grid-template-columns: 40% 40%;
    grid-template-areas: 'form render';
    justify-content: space-evenly;
    align-items: center;
    background-image: url(img/head6.jpg);
    height: 100vh;
    padding-top: 10%;
}

#container1{
    grid-area: form;
}

#container1 .form-style-5, #section-left .form-style-5{

	background: #f4f7f8;
	border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
    transition: all 0.5s ease;
    box-shadow: 15px 10px 25px black;
}

#container1 .form-style-5 fieldset, #section-left .form-style-5 fieldset{
	border: none;
}

#container1 .form-style-5 label, #section-left .form-style-5 label {
	display: block;
    margin-bottom: 3%;
    font-size: 125%;
    margin-left: 3%;
    width: 80%;
    color: rgb(73, 73, 73);

}

#container1 .form-style-5 select, #section-left .form-style-5 select {
	font-family: Georgia, "Times New Roman", Times, serif;
	border: none;
	font-size: 100%;
	outline: 0;
	padding: 1.5%;
    width: 90%;
    margin-left: 5%;
	background-color: #e8eeef;
	color:#00b7b3;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 4%;
    border-radius: 7px;
}

#container1 .form-style-5 select:focus, #section-left .form-style-5 select:focus{
    background: #dde6eb;
    border: 3px solid #00b7b438;
}

#container1 .form-style-5 select:hover, #section-left .form-style-5 select:hover{
	background: #00b7b41a;
}

#container1 .form-style-5 .number, #section-left .form-style-5 .number {
	background: #00b7b3;
    color: white;
    height: 3vh;
    width: 5%;
    display: inline-block;
    font-size: 80%;
    margin-right: 1%;
    line-height: 200%;
    text-align: center;
    border-radius: 48% 48% 48% 0px;
}

#container1 .form-style-5 input[type="submit"], #section-left .form-style-5 input[type='submit']{
	padding: 19px 39px 18px 39px;
	width: 80%;
    margin-bottom: 4%;
    border-radius: 28px;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Courier New;
    font-size: 130%;
    font-weight: bold;
    padding: 14px 34px;
    text-decoration: none;
    transition: all 0.8s ease;
    background-color: #00b7b3;
    margin-left: 10%;
    margin-top: 2%;
    outline: 0;

}

#container1 .form-style-5 input[type="submit"]:hover, #section-left .form-style-5 input[type='submit']:hover{
    background-color: #00e0dd;
    color: #ffffff;
    transform: scale(1.05);
}

#container1 h2, #section-left h2{
    font-size: 200%;
    margin-left: 4%;
    color: rgb(73, 73, 73);
    padding-top: 5%;
}


#right, #section-right{
    grid-area: render;
    background-color: #00b7b30a;
    padding: 100px;
    border-radius: 50px;
    text-shadow: 0.1px 0.1px 0.2px black;
}


#right h2, #section-right h2{
    font-size: 200%;
    margin-left: 4%;
    color: black;
}

#right h5, h6, #section-right h5, h6{
    font-size: 150%;
    margin-left: 5%;
    color: black;
    line-height: 150%;
    width: 100%;
    margin-bottom: 2%;
}


#section-left{
    grid-area: form;
}

#section-right{
    grid-area: render;
}

@keyframes slide{
    0%{
        width: 0;
        opacity: 0;
    }

    10%{
        width: 10%;
        opacity: 0.1;
    }

    20%{
        width: 20%;
        opacity: 0.2;
    }
    30%{
        width: 30%;
        opacity: 0.3;
    }
    40%{
        width: 40%;
        opacity: 0.4;
    }
    50%{
        width: 50%;
        opacity: 0.5;
    }
    60%{
        width: 60%;
        opacity: 0.6;
    }
    70%{
        width: 70%;
        opacity: 0.7;
    }
    80%{
        width: 80%;
        opacity: 0.8;
    }
    90%{
        width: 90%;
        opacity: 0.9;
    }
    100%{
        width: 100%;
        opacity: 1;
    }
}


button{
    box-shadow: 1px 2px 3px -1px black;
    background-color:transparent;
    background-color: #b7bbc705;
    border-radius:28px;
    border: 0;
    outline: 0;
	display:inline-block;
	cursor:pointer;
    color: #00b7b3;
	font-family:Courier New;
	font-size:19px;
	font-weight:bold;
	padding:14px 34px;
    text-decoration:none;
    transition: all 0.8s ease;

}

.myButton:hover {
    background-color:transparent;
    background-color: rgb(0,183,179);
    color: white;
    transform: scale(1.1);
}
.myButton:active {
	position:relative;
	top:1px;
}
li{
    display: inline-block;
    margin: 3% 2%;
    font-size: 150%;
}


ul{
    margin-left: 48%;
    padding-top: 2%;
}


.bg-celender h2{
    font-size: 421%;
    padding-bottom: 5%;
    padding-top: 3%;
    color: white;
}



header h3{
    width: 30%;
    font-size: xx-large;
    color: black;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    box-sizing: content-box;
}

header span{
    color: #00b7b3;
    font-weight: bold;
    box-sizing: content-box;

}

header h4{
    width: 10%;
    font-size: large;
    color: #00b7b3;
    font-weight: 300;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    padding-top: 1%;
    box-sizing: content-box;

}

.fadetext{
    opacity: 0;
    animation: fadetext 26s linear infinite;
    animation-delay: 2s;
}

.fadeqoute{
    opacity: 0;
    animation: fadetext 26s linear infinite;
    animation-delay: 2.5s;
}

@keyframes fadetext{
    0%{
        opacity: 0;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 3%;
    }

    11.5%{
        opacity: .8;
        padding-left: 6%;
    }

    17.2%{
        opacity: 0;
        padding-left: 9%;
    }
    100%{
        opacity: 0;
        padding-left: 11%;
    }
}


.fadetext2{
    opacity: 0;
    animation: fadetext2 26s linear infinite;
    animation-delay: 8s;
    padding-left: 70%;
    width: 33%;
}

.fadeqoute2{
    opacity: 0;
    animation: fadeqoute2 26s linear infinite;
    animation-delay: 8.5s;
    padding-left: 70%;
}

@keyframes fadetext2{
    0%{
        opacity: 0;
        padding-left: 55%;
        padding-top: 11%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 60%;
        padding-top: 11%;

    }

    11.5%{
        opacity: .8;
        padding-left: 65%;
        padding-top: 11%;

    }

    17.2%{
        opacity: 0;
        padding-left: 70%;
        padding-top: 11%;

    }
    100%{
        opacity: 0;
        padding-left: 75%;
        padding-top: 11%;
    }
}
@keyframes fadeqoute2{
    0%{
        opacity: 0;
        padding-left: 55%;
        padding-top: 1%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 60%;
        padding-top: 1%;

    }

    11.5%{
        opacity: .8;
        padding-left: 65%;
        padding-top: 1%;

    }

    17.2%{
        opacity: 0;
        padding-left: 70%;
        padding-top: 1%;

    }
    100%{
        opacity: 0;
        padding-left: 75%;
        padding-top: 1%;
    }
}

.fadetext3{
    opacity: 0;
    animation: fadetext3 26s linear infinite;
    animation-delay: 14s;
    padding-left: 4%;
    width: 33%;
}

.fadeqoute3{
    opacity: 0;
    animation: fadeqoute3 26s linear infinite;
    animation-delay: 14.5s;
    padding-left: 4%;
}

@keyframes fadetext3{
    0%{
        opacity: 0;
        padding-left: 4%;
        padding-top: 1%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 6%;
        padding-top: 1%;

    }

    11.5%{
        opacity: .8;
        padding-left: 8%;
        padding-top: 1%;

    }

    17.2%{
        opacity: 0;
        padding-left: 9%;
        padding-top: 1%;

    }
    100%{
        opacity: 0;
        padding-left: 9%;
        padding-top: 1%;
    }
}
@keyframes fadeqoute3{
    0%{
        opacity: 0;
        padding-left: 4%;
        padding-top: 1%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 6%;
        padding-top: 1%;

    }

    11.5%{
        opacity: .8;
        padding-left: 8%;
        padding-top: 1%;

    }

    17.2%{
        opacity: 0;
        padding-left: 9%;
        padding-top: 1%;

    }
    100%{
        opacity: 0;
        padding-left: 9%;
        padding-top: 1%;
    }
}

.fadetext4{
    opacity: 0;
    animation: fadetext4 26s linear infinite;
    animation-delay: 20s;
    padding-left: 47%;
    width: 33%;
}

.fadeqoute4{
    opacity: 0;
    animation: fadeqoute4 26s linear infinite;
    animation-delay: 20.5s;
    padding-left: 49%;
}

@keyframes fadetext4{
    0%{
        opacity: 0;
        padding-left: 47%;
        padding-top: 1%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 53%;
        padding-top: 1%;

    }

    11.5%{
        opacity: .8;
        padding-left: 59%;
        padding-top: 1%;

    }

    17.2%{
        opacity: 0;
        padding-left: 65%;
        padding-top: 1%;

    }
    100%{
        opacity: 0;
        padding-left: 65%;
        padding-top: 1%;
    }
}
@keyframes fadeqoute4{
    0%{
        opacity: 0;
        padding-left: 48%;
        padding-top: 1%;
    }

    5.8%{
        opacity: 0.4;
        padding-left: 54%;
        padding-top: 1%;

    }

    11.5%{
        opacity: .8;
        padding-left: 60%;
        padding-top: 1%;

    }

    17.2%{
        opacity: 0;
        padding-left: 66%;
        padding-top: 1%;

    }
    100%{
        opacity: 0;
        padding-left: 66%;
        padding-top: 1%;
    }
}
/**********************************************************-----------------------------
--------------------------------------------------
--------------------------THE CSS FOR SOCIAL ICON----------------------------------
------------------------------------------------------------
--------------------------------------------------------------*/
.social1{
    background-color: rgb(214,214,214);
    display:flex;
    align-content: center;
    justify-content: center;
    min-height: 100hv;
}
.btn{
    position: relative;
    height: 70px;
    width: 70px;
    margin: 20px;
    background:rgb(214,214,214);
    border-radius: 50%;
    box-shadow: -9px -9px 20px 0 rgb(255,255,255,0.9),
    7px 7px 20px 0 rgba(0, 0, 0, 0.3);


}

.btn::before{
content: "";
position: absolute;
height: 80%;
width: 80%;
background:rgb(214,214,214);
border-radius: 50%;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
transition: 0.2s;

}
.btn:hover::before{
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 1),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
}
.btn:hover i {
    font-size: 30px;
  }
.btn:hover{
    transform: scale(1.1);
}
.btn i {
    position: absolute;
    color: #07BCBC;
    font-size: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
  }

  /**********************************************************-----------------------------
--------------------------------------------------
--------------------------THE END of CSS FOR SOCIAL ICON----------------------------------
