select {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: wheat;

}







#locationform{
  width: 90%;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  background-color:#242626;
  opacity: 0.7;
  color: wheat;
  align-items: center;
  height: 100%;
  
  
}

#TimeofTrip{
  width: 39%;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  background-color: wheat;
}
#section-left {
  float: left;
  width: 40%;
}

#section-right {
  float: left;
  width: 55%;
  opacity: 0.9;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color:#242626;
  color: wheat;
  align-items: center;}





 



.submitButton{
  width: 20%;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  background-color: wheat;
  text-align: center;
  align-self: center;
  align-items: center;


}



.submitButton:hover{
  width: 20%;
  padding: 5px 10px;
  border-radius: 6px;
  background-color:#d0b080;
  color: white;
}
.formField {
  width: 39%;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: wheat;
}

#LocationName{
  width: 60%;
  padding: 5px 10px;
  border: non;
  border-radius: 6px;
  background-color: wheat;
}

#GradeofTrip{
  width: 39%;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  background-color:wheat;
}

body{
background:url(https://user-images.githubusercontent.com/34350992/41576489-b69b0348-7355-11e8-9c65-ea7fe45afc68.jpg) ;
width:100%;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

overflow: scroll;
height: 100%;




}





/* //////////////// */
.top-text-container{

  color: brown;
  font-size: 27px;
  text-align: center;

}
h1 {
  font-size: 3em;
  -webkit-text-stroke: 3px rgb(29, 28, 28);
  -webkit-text-fill-color: white;
  -webkit-animation: fill 0.8s infinite alternate;
}

@-webkit-keyframes fill {
  from { -webkit-text-fill-color: wheat; }
  to { -webkit-text-fill-color: gray; }
}

.button {
  background-color: #242626; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  opacity: 0.7;
}

.button:hover{
  width: 20%;
  padding: 5px 10px;
  border-radius: 6px;
  background-color:gray;
  color: white;
  opacity: 0.7;
}

.ml3 {
  font-weight: 900;
  font-size: 3em;
  color:#242626;
  opacity: 0.7;
}





















